# Database settings
DB_HOST=localhost
DB_USER=root
DB_PASS=root
DB_NAME=skolni_system
DB_CONNECTION_LIMIT=10

# Security ### CMD: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
QR_SECRET=
CSRF_SECRET=
BACKUP_DIR=./backups
MAX_BACKUPS=30
MYSQLDUMP_PATH=C:\xampp\mysql\bin\mysqldump.exe
BACKUP_INTERVAL_HOURS=24

# Email settings
STMP_ENABLED=true
STMP_HOST=smtp.example.com
STMP_PORT=465
STMP_USER=
STMP_PASS=
STMP_EMAIL=
STMP_NAME=Školní systém

DEVELOPMENT=true
PORT=8888
